.DS_Store
xcuserdata
Synthia1000/.vs
Synthia1000/build-web/*.data
Synthia1000/build-web/imgs*
Synthia1000/build-web/fonts.js
Synthia1000/build-web/svgs.js
Synthia1000/build-web/favicon.ico
*.RPP-bak

